body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #9CB380; */
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* LINK */
a {
  text-decoration: none;
  color: black;
}

/* Activity Cards */

.cards {
  flex-wrap: wrap;
  display: inline-flex;
  justify-content: center;
  padding: 20px;
  margin:20px;
  filter: drop-shadow(5px 9px 4px rgb(89, 119, 89));
}

.card {
  background-color: #5F6062;
  color: white;
}

#card_title{
  font-family: "Roboto, sans-serif"
}

#card_description{
  font-family: Georgia, Arial, Helvetica, sans-serif
}


.spacing {
  padding: 10px;
}


#profile_image{
  border-radius: 50%;
  width: 500px;
  height: 500px;
  margin: 35px;
}

#profile_name{
  font-family: "Times New Roman";
  font-size: 30px;
  margin: 0px;
}

#profile_age{
  font-family: "Times New Roman";
  font-size: 20px;
  margin: 5px;
}

#header {
  padding: 5px;
  height: 100px;
  /* text-align: center; */
  background: rgb(112, 173, 237); 
  color: white;
  /* font-size: 15px; */
}

#date {
  text-align: right
}

/* span:hover + header {
  background-color: yellow;
} */

#welcome {
  text-align: center;
  margin: 0px;
}
  
/* Home Page */

.main {
  /* display: inline-flex; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  display: inline-flex;
  justify-content: flex-end;
  padding: 10px;
}

/* Card colors */

.outdoors {
  background-color: #6B8A69;
  /* filter: drop-shadow(0px 8px 4px rgb(71, 102, 71)) */
}

.outdoors:hover{
  filter: drop-shadow(0px 8px 4px rgb(131, 193, 139))
}

.date {
  background-color: #A4243B;
  /* filter: drop-shadow(0px 8px 4px rgb(150, 20, 20)) */
}

.date:hover{
  filter: drop-shadow(0px 8px 4px rgb(234, 111, 97))
}

.friend{
  background-color: #9A90A6;
}

.friend:hover{
  filter: drop-shadow(0px 8px 4px rgb(72, 46, 89))
}

.indoors {
  background-color: #D0D9C5;
}

.indoors:hover{
  filter: drop-shadow(0px 8px 4px rgb(70, 101, 73))
}

.solo {
  background-color: #F5D6BA;
}

.solo:hover{
  filter: drop-shadow(0px 8px 4px rgb(183, 173, 128))
}

#button1 {
  display: flex;
  margin-top: 7px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
  color: rgb(123, 113, 113);
  /* color: rgb(67, 62, 62); */
  border-bottom: .99px solid;
  background-color: white;
  /* background-color: #9CB380; */
  border-top: none;
  border-left: none;
  border-right:none;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;

}

#button2 {
  display: flex;
  margin-top: 7px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
  color: rgb(123, 113, 113);
  /* color: rgb(67, 62, 62); */
  border-bottom: .99px solid;
  background-color: white;
  /* background-color: #9CB380; */
  border-top: none;
  border-left: none;
  border-right:none;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

#button1:hover {
  /* filter: drop-shadow(0px 8px 4px rgb(84, 75, 75)) */
  filter: drop-shadow(0px 8px 4px rgb(145, 174, 145))
}

#button2:hover {
  /* filter: drop-shadow(0px 8px 4px rgb(84, 75, 75)) */
  filter: drop-shadow(0px 8px 4px rgb(145, 174, 145))
}

#card_button {
  color: gray;
}

#card_button:hover {
  filter: drop-shadow(0px 8px 4px rgb(145, 174, 145))
}

.header {
  background-color: #9CB380;
  filter: drop-shadow(0px 8px 9px rgb(21, 65, 21));
  
}

#header_font {
  color: white;
  /* font-family:'Courier New', Courier, monospace */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  /* font-family: sans-serif; */
}

#box {
  /* color: white; */
  color: #66784f;
}

#box2{
  /* background-color: white; */
  background-color: #ccd8bc;
  color: rgb(67, 55, 55);
  font-family: "Roboto, sans-serif";

  /* color: gray; */
  filter: drop-shadow(5px, 10px, 4px black)
}

#logo{
  height: 100px;
  width: 100px; 
  display: flex;
  margin:0px;
}

#logo_sign{
  height:100px;
  width: 100px;
  justify-content: center;
  margin-left: 135px;
}

#created {
  display: flex;
  align-items: center;
  align-content: space-between;
  justify-content: space-between;
}