body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* LINK */
a {
  text-decoration: none;
  color: black;
}

/* Activity Cards */

.cards {
  flex-wrap: wrap;
  display: inline-flex;
  justify-content: center;
  padding: 20px;
  margin:20px;
}

.card {
  background-color: #5F6062;
  color: white;
}

.spacing {
  padding: 10px;
}


#profile_image{
  border-radius: 50%;
  width: 500px;
  height: 500px;
  margin: 35px;
}

#profile_name{
  font-family: "Times New Roman";
  font-size: 30px;
  margin: 0px;
}

#profile_age{
  font-family: "Times New Roman";
  font-size: 20px;
  margin: 5px;
}

#header {
  padding: 5px;
  height: 100px;
  /* text-align: center; */
  background: rgb(112, 173, 237); 
  color: white;
  /* font-size: 15px; */
}

#date {
  text-align: right
}

span:hover + header {
  background-color: yellow;
}

#welcome {
  text-align: center;
  margin: 0px;
}
/* Home Page */

.main {
  display: inline-flex;
  align-items: center;
}

.button {
  display: inline-flex;
  justify-content: flex-end;
  padding: 10px;
}

/* Card colors */

.outdoors {
  background-color: lightseagreen;
}

.date {
  background-color: lightcoral;
}

.friend{
  background-color: lightgoldenrodyellow;
}

.indoors {
  background-color: lightsteelblue;
}

.solo {
  background-color: tan;
}