body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* LINK */
a {
  text-decoration: none;
  color: black;
}

/* Activity Cards */

.cards {
  flex-wrap: wrap;
  display: inline-flex;
  justify-content: center;
  padding: 20px;
  margin:20px;
}

.card {
  background-color: #5F6062;
  color: white;
}

.spacing {
  padding: 10px;
}


#profile_image{
  border-radius: 50%;
  width: 500px;
  height: 500px;
  margin: 35px;
}

#profile_name{
  font-family: "Times New Roman";
  font-size: 30px;
  margin: 0px;
}

#profile_age{
  font-family: "Times New Roman";
  font-size: 20px;
  margin: 5px;
}

#header {
  padding: 5px;
  height: 100px;
  /* text-align: center; */
  background: rgb(112, 173, 237); 
  color: white;
  /* font-size: 15px; */
}

#date {
  text-align: right
}

span:hover + header {
  background-color: yellow;
}

#welcome {
  text-align: center;
  margin: 0px;
}
  
/* Home Page */

.main {
  display: inline-flex;
  align-items: center;
}

.button {
  display: inline-flex;
  justify-content: flex-end;
  padding: 10px;
}

/* Card colors */

.outdoors {
  background-color: #6B8A69;
}

.date {
  background-color: #A4243B;
}

.friend{
  background-color: #9A90A6;
}

.indoors {
  background-color: #D0D9C5;
}

.solo {
  background-color: #F5D6BA;
  

  
 
}

#button1 {
  display: flex;
  margin-top: 7px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
  color: rgb(123, 113, 113);
  border-bottom: 1px solid;
  background-color: white;
  border-top: none;
  border-left: none;
  border-right:none;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;

}

#button2 {
  display: flex;
  margin-top: 7px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
  color: rgb(123, 113, 113);
  border-bottom: 1px solid;
  background-color: white;
  border-top: none;
  border-left: none;
  border-right:none;
  font-family: 'Roboto', sans-serif;
  font-size: 16px
}

.header {
  background-color: #9CB380;
  filter: drop-shadow(0px 8px 4px rgb(145, 174, 145) );
  
}
